<style>
  .wrapper {
    margin-left: 25px;
  }
</style>

<div class="wrapper">
  <h1>UI Common Utilities</h1>

  <div>
    <h3>Check Box</h3>
    <div class="ember376 checkbox">
      <label>{{check-box checked=true}}
        Checkbox 1
      </label>
    </div>
  </div>
</div>